<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="SchoolDB" connectionString="Data Source=desktop-m8br20g;Initial Catalog=SMSDB;Integrated Security=True" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>
</configuration>
